.form {
  display: grid;
  grid-template-areas:
    "title title"
    "name name"
    "email phone"
    "carModel carModel"
    "breakdownType breakdownType"
    "message message"
    "button button";
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.form div {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

input,
textarea,
select {
  border: 1px solid var(--hint-color);
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
}

label {
  font-weight: 700;
  font-size: 18px;
  color: var(--font-color);
  margin-bottom: 8px;
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}
.phone {
  grid-area: phone;
}
.carModel {
  grid-area: carModel;
}
.breakdownType {
  grid-area: breakdownType;
}
.message {
  grid-area: message;
}
.button {
  grid-area: button;
}
.title {
  grid-area: title;
}
